body {
  margin         : 0 0 0 0;
  display        : flex;
  flex-direction : column;
  min-height     : calc(100vh - 64px);
  // background: linear-gradient($firstColor, $firstColorAlt,$firstColorAlt,$firstColor);
  background-image: url(../images/background/fondo-sicme-640px.jpg);
  @include from(m){
    background-image: url(../images/background/fondo-sicme-1024px.jpg);
  }
  @include from(l){
    background-image: url(../images/background/fondo-sicme-1440px.jpg);
  }
  background-color: #EDEDEC;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: right;
}

// Vertical rhythm
h1, h2, h3, h4, h5, h6 {
  margin-top : 0;
  margin-bottom : .5rem;

  & + .subtitle {
    margin-top : -.5rem;
    margin-bottom : 1rem;
  }
}

li {
  margin-top : 0;
  margin-bottom : .75rem;
}

// Bloques de contenido
section,
p,
blockquote,
pre,
article,
figure,
iframe,
video,
ul,
ol {
  margin-top : 0;
  margin-bottom : 1rem;
}
.l-block{
  margin-top : 0;
  margin-bottom : 1rem;
}


// secciones principales
.l-section {
  margin-top : 0;
  margin-bottom : 4rem;

  .main-header + & {
    margin-top : 4rem;
  }

  &--main {
    margin-top : 0;
    margin-bottom : 8rem;
  }
}

.main-banner,
.topbar {
  margin-bottom : 4rem;
}

// main-banner y top-bar no deben separarse verticalmente de su hermano anterior

.topbar + .main-banner{
  margin-top : -4rem;
}
