*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  background : lighten($darkColor, 10);
  background-attachment: fixed;
}

strong,
em {
  font-weight : 700;
}

ul {
  padding-left : 0;
  margin-left  : 2rem;
}
