extends layouts/template
append config
	-currentPage = 'Contactos'
//- block banner
	//- include components/slider
block main
	.header-spacing
	.main-main.sicme-item.sicme-container
		.l-30.sicme-item.l-block.sicme-container.cross-start
			h2.main-main__title Contáctenos
			form.l-100.m-70.to-center.sicme-container.form(v-on:submit.prevent="submitForm")
				.sicme-item.form__item
					label.form__label(for="") Nombre completo: 
					input.form__input(v-model="vue.nombre" type="text" required="")
				.sicme-item.form__item
					label.form__label(for="") Teléfono: 
					input.form__input(v-model="vue.telefono" type="number")
				.sicme-item.form__item
					label.form__label(for="") Celular: 
					input.form__input(v-model="vue.movil" type="number" required="")
				.sicme-item.form__item
					label.form__label(for="") Dirección: 
					input.form__input(v-model="vue.direccion" type="text" required="")
				.sicme-item.form__item
					label.form__label(for="") Ciudad: 
					input.form__input(v-model="vue.ciudad" type="text" required="")
				.sicme-item.form__item
					label.form__label(for="") Email: 
					input.form__input(v-model="vue.email" type="email" required="")
				.sicme-item.form__item
					label.form__label(for="") Mensaje: 
					textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="5" required="")
				.sicme-item.form__item.main-center
					button.button(type="submit") Enviar
					button.button(v-on:click="clearForm()") Limpiar
				.statusMessage(v-if="formSubmitted")
					h4(v-text="vue.envio")
		.l-70.sicme-item.l-block.sicme-container.cross-start
			h2.main-main__title--tertiary Ubíquenos
			include components/google-map
