extends layouts/template
append config
	-currentPage = 'Materiales Electricos'
//- block banner
	//- include components/slider
block main
	.header-spacing
	.main-main.sicme-item.sicme-container
		h2.main-main__title.center.sicme-item.l-block= currentPage
		.sicme-item
			p Plaquetería domiciliaria modular de alta calidad y perfeccionamiento, proyectada para atender los más elevados padrones de exigencia de los consumidores del nuevo milenio.
		#gallery.sicme-container.sicme-item(v-for="item in mainmenu[0].submenu")
			.sicme-item
				h3.main-main__title--tertiary.l-block(v-text="item.title")
			.sicme-item.m-50.l-block#gallery-item
				.card.card--mini-horizontal
					.card__img
						a.baguettebox--item(href="https://vignette.wikia.nocookie.net/gangstar/images/8/84/Sin_imagen_disponible.jpg/revision/latest?cb=20131009183932&path-prefix=es" data-caption="Image caption")
							i.t2.icon-zoom
							img(data-src='https://vignette.wikia.nocookie.net/gangstar/images/8/84/Sin_imagen_disponible.jpg/revision/latest?cb=20131009183932&path-prefix=es')
					.card__content
						.card__title Título de la tarjeta
						.card__body
							p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
						//- footer.card__footer
							
			.sicme-item.m-50.l-block#gallery-item
				.card.card--mini-horizontal
					.card__img
						a.baguettebox--item(href="https://vignette.wikia.nocookie.net/gangstar/images/8/84/Sin_imagen_disponible.jpg/revision/latest?cb=20131009183932&path-prefix=es" data-caption="Image caption")
							i.t2.icon-zoom
							img(data-src='https://vignette.wikia.nocookie.net/gangstar/images/8/84/Sin_imagen_disponible.jpg/revision/latest?cb=20131009183932&path-prefix=es')
					.card__content
						.card__title Título de la tarjeta
						.card__body
							p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
							p dfsdfsdf
							p dfsdfsdfsdf						
						//- footer.card__footer
							
			.sicme-item.m-50.l-block#gallery-item
				.card.card--mini-horizontal
					.card__img
						a.baguettebox--item(href="https://vignette.wikia.nocookie.net/gangstar/images/8/84/Sin_imagen_disponible.jpg/revision/latest?cb=20131009183932&path-prefix=es" data-caption="Image caption")
							i.t2.icon-zoom
							img(data-src='https://vignette.wikia.nocookie.net/gangstar/images/8/84/Sin_imagen_disponible.jpg/revision/latest?cb=20131009183932&path-prefix=es')
					.card__content
						.card__title Título de la tarjeta
						.card__body
							p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
							p dfsdfsdf
							p dfsdfsdfsdf						
						//- footer.card__footer
							
			.sicme-item.m-50.l-block#gallery-item
				.card.card--mini-horizontal
					.card__img
						a.baguettebox--item(href="https://vignette.wikia.nocookie.net/gangstar/images/8/84/Sin_imagen_disponible.jpg/revision/latest?cb=20131009183932&path-prefix=es" data-caption="Image caption")
							i.t2.icon-zoom
							img(data-src='https://vignette.wikia.nocookie.net/gangstar/images/8/84/Sin_imagen_disponible.jpg/revision/latest?cb=20131009183932&path-prefix=es')
					.card__content
						.card__title Título de la tarjeta
						.card__body
							p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta)
						//- footer.card__footer
							
		//- .sicme-item.l-25.l-block(v-for="item in mainmenu[0].submenu")
			.card.card--next-class
				.card__img
					a(href='#')
						img(data-src='https://vignette.wikia.nocookie.net/gangstar/images/8/84/Sin_imagen_disponible.jpg/revision/latest?cb=20131009183932&path-prefix=es')
				.card__content
					.card__title
						a(href='#' v-text="item.title")
					footer.card__footer
						//- a(href='#') Angular Desde Cero
