extends layouts/template
append config
	-currentPage = 'Nosotros'
//- block banner
	//- include components/slider
block main
	.header-spacing
	.main-main.sicme-item.sicme-container
		h2.main-main__title.center.sicme-item.l-block= currentPage
		.sicme-item.l-50.l-block
			<iframe width="560" height="315" src="https://www.youtube.com/embed/DW_TJvKvA3M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		.sicme-item.l-50.l-block
			.center
				img(src= path_media + "images/sicme-isologo.png", alt= siteName)
			p 				
				| Es una Empresa que a partir de una experiencia de confianza y
				| servicio, alentado por objetivos que van más allá de los económicos, está inmersa
				| en el mercado boliviano para brindar apoyo técnico, logístico a la industria y
				| la construcción civil como Importadores, Distribuidores y Comercializadores de
				| Materiales Eléctricos en general.
		.l-50.sicme-item.l-block.cross-start
			h3.main-main__title--tertiary.center.l-block Misión
			p Proporcionar a nuestros clientes, un servicio técnico y humano eficiente, con la
				| provisión de material eléctrico de última generación y calidad reconocida bajo
				| normas internacionales, los mismos que contribuyan al desarrollo, mejoramiento
				| del hogar y de las actividades productivas en nuestro medio.
		.l-50.sicme-item.l-block.cross-start
			h3.main-main__title--tertiary.center.sicme-item.l-block Visión
			p Consolidarnos como Empresa líder en importación y distribución de Materiales
				| Eléctricos para la Residencia y la Industria, satisfaciendo las necesidades y
				| requerimientos de nuestros clientes, otorgando calidad de punta en todos los
				| productos y actividades que realizamos al servicio de la población.