extends layouts/template
append config
	-currentPage = 'Nuestras marcas'
//- block banner
	//- include components/slider
block main
	.header-spacing
	.main-main.sicme-item.sicme-container
		h2.main-main__title.center.sicme-item.l-block= currentPage
		.sicme-item
			h3.main-main__title--tertiary.l-block() MArcca numero 1
		.sicme-item.l-50
			.card.card--next-class
				.card__img
					a(href='#')
						img.loading(src='https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg', data-was-processed='true')
				.card__content
					.card__title
						a(href='#') Ciclo de vida de los componentes
					footer.card__footer
						a(href='#') Angular Desde Cero
		.sicme-item.l-50
			.card.card--next-class
				.card__img
					a(href='#')
						img.loading(src='https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg', data-was-processed='true')
				.card__content
					.card__title
						a(href='#') Ciclo de vida de los componentes
					footer.card__footer
						a(href='#') Angular Desde Cero
		.sicme-item.l-50
			.card.card--next-class
				.card__img
					a(href='#')
						img.loading(src='https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg', data-was-processed='true')
				.card__content
					.card__title
						a(href='#') Ciclo de vida de los componentes
					footer.card__footer
						a(href='#') Angular Desde Cero
		.sicme-item.l-50
			.card.card--next-class
				.card__img
					a(href='#')
						img.loading(src='https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg', data-was-processed='true')
				.card__content
					.card__title
						a(href='#') Ciclo de vida de los componentes
					footer.card__footer
						a(href='#') Angular Desde Cero
		