extends ../layouts/template-stylesguide
append config
  -currentPage = 'Styleguides'
block main
  //- block banner
  //-   include ../components/slider
  .header-spacing
  .main-main
    p Esta guia define el concepto visual, patrones de diseño y estructura para proyectos web en #{siteName}.
    p Esta guia se encuentra en constante actualización.

    h2 Colores

    .colors
      .color
        .color__sample.color--primary
        .color__info.smaller
          p.color__name Principal
          p.color__code #007BDF
          p.color__code <code>$firstColor</code>

      .color
        .color__sample.color--secondary
        .color__info.smaller
          p.color__name Secundario
          p.color__code #00CBFF
          p.color__code <code>$secondColor</code>

      .color
        .color__sample.color--tertiary
        .color__info.smaller
          p.color__name Terciario
          p.color__code #FF3C32
          p.color__code <code>$thirdColor</code>

      .color
        .color__sample.color--accent
        .color__info.smaller
          p.color__name Enfasis
          p.color__code #FBA905
          p.color__code <code>$accentColor</code>

      .color
        .color__sample.color--dark
        .color__info.smaller
          p.color__name Oscuro
          p.color__code #282D31
          p.color__code <code>$darkColor</code>

      .color
        .color__sample.color--border
        .color__info.smaller
          p.color__name Bordes
          p.color__code #DFE0E0
          p.color__code <code>$borderColor</code>

      .color
        .color__sample.color--text
        .color__info.smaller
          p.color__name Texto
          p.color__code #53575A
          p.color__code <code>$textColor</code>

      .color
        .color__sample.color--body
        .color__info.smaller
          p.color__name Body bg
          p.color__code #FCFCFC
          p.color__code <code>$bodyBg</code>

    h2 Tipografía

    p #{siteName} utiliza dos familias tipográficas en web, logotipo, posters y demás elementos gráficos

    ul.data-list
      li
        strong Open Sans (700)
        br
        span.small Encabezados, logo de #{siteName} y otros logos (EDgrid p.ej.) <code>$body-font</code>
      li
        strong Lato (400, 400i, 700)
        br
        span.small Contenidos, párrafos <code>$heading-font</code>

    p En la sección de <a href="tipografia.html">tipografía</a> se explica detalladamente su uso.
