.card {
  @include widget;
  @include round;
  @include from(l){
    display : flex;
    flex-direction: column;
  }
  height : 100%;

  p, [class*="button"]  {
    margin : 0;
  }
}
.card--circle-top{
  padding-top: 3rem;
}
.card__icon{
  [class*="icon-"]{
    // background: #20ad00;
    color: white;
    padding: 1.5rem;
    border-radius: 50%;
    border: solid 7px;
    box-shadow: 0 0 1px 0px black;
    font-size: 2.2rem;
    top: -23px;
    position: relative;
  }
  .icon-mision{
    background: #ffd000;
  }
  .icon-vision{
    background: #03d843;
  }
  .icon-valores{
    background: #005db4;
  }
  .card__title {
    margin-bottom: .1rem;
  }
}

.card__img {
  flex: none;

  img {
    display : block;
    border-radius : .25rem .25rem 0 0;
    height: 159px;
    width: 100%;
    object-fit: cover;
  }
}

.card__content {
  display : flex;
  flex-direction : column;
  flex: 2;
  font-size : fontSize(small);
  padding : 1rem;
  padding-top: .5rem;
}

.card__title {
  font-family : $heading-font;
  font-weight : 700;
  margin-bottom: .5rem;
  h3{
    margin-bottom: 0;
    border-bottom: solid 1px orange;
  }

  + .card__subtitle {
    margin-top : -1rem;
  }
}

.card__subtitle {
  font-size : fontSize(small);
  opacity : .5;
  margin-bottom : .5rem;
}

.card__body {
  margin-bottom : 1rem;
}

.card__footer {
  margin-top : auto;
  font-size : fontSize(small);
  border-top : 1px solid $borderColor;
  padding-top : 1rem;
  display : flex;
  justify-content: space-between;
  align-items: center;
}


// Card standard de curso en App
.card--course {
  .card__footer {
    border-top : none;
    margin-top : -1.5rem;
  }
}

.card--course-next {
  .card__footer {
    padding-top : .5rem;
  }
}

.card--next-class {
  border : none;
  box-shadow: none;
  position : relative;
  color: #fff;
  border: 4px double $borderColor;
  border-bottom: none;
  
  a {
    font-family: $button-font;
    color: currentColor;
    display : block;
  }

  img {
    display : block;
    height: 350px;
  }

  .card__content {
    position : absolute;
    bottom : 0;
    background : rgba(darken($firstColorAlt, 30),.65);
    width : 100%;
    padding: .4rem .6rem;
  }

  .card__title {
    font-size : fontSize(title3);
    font-family : $body-font;
    font-weight : 400;
  }

  .card__footer {
    padding-top : 0;
    border : none;
    margin-top : -.5rem;
  }
}


.card__user {
  display : flex;
  align-items: center;

  a {
    color: $textColor;
  }
}

.card__user-img {
  img {
    @include circle;
    width : 2rem;
    height : 2rem;
    display : block;
    margin-right : .5rem;
  }
}

// Card mini
[class*="card--mini"] {
  width: 100%;
  margin: 0 .5rem;
  .card__title {
    margin-bottom : .25rem;
  }
  .card__body {
    font-size : fontSize(small);
    padding-top : .5rem;
    border-top : 1px solid $accentColor;
  }
  .card__img{
    width: 100%;
    border-bottom: solid 1px $secondColor;
    img{
      margin: auto;
      height: 150px;
      object-fit: contain;
    }
  }

  .card__footer {
    border-top : none;
    padding-top : 0;
  }
}

// Card mini horizontal
.card--mini-horizontal {
  @include from(l) {
    display : flex;
    flex-direction: row;
  }

  .card__img {
    flex: 1;
    border-bottom: none;
    img {
      border-radius : .25rem 0 0 .25rem;
      height: auto;
      object-fit: contain;
      object-position: center;
      max-width: 150px;
      min-height: 150px;
    }
  }
}
