form {

  .form__item {
    margin-bottom: .5rem;
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {
    display       : block;
    border        : 1px solid $thirdColor;
    background    : #FFF;
    width         : 100%;
    line-height   : 1.6;
    font-family   : $body-font; // Fuerza a tomar la fuente por defecto
    font-size     : fontSize(small);
    color         : $textColor;
    border-radius : .25rem;
    padding       : .25rem 1rem;
    &::placeholder {
      color : rgba($textColor, .75);
    }
    &:disabled {
      background :$borderColor;
      cursor: default;
    }


  }

  select{
    appearance: none;
    background: #fff img('arrow.svg') center right 1rem/1rem no-repeat !important;
  }

  textarea {
    min-height : 6em;
  }

  label {
    position: relative;
    display       : block;
    font-size     : fontSize(small);
    margin-bottom : .2em;
    + input::placeholder {
      display : none;
    }
  }

  [type="submit"] {
    margin : 0 !important;
  }

  //.checkbox-container,
  //.radio-container {
  //  margin-bottom : 1.4rem;
  //
  //  label {
  //    display : table;
  //    color   : $textColor;
  //  }
  //}
}
