// initial: 'header-initial', //Cuando el elemento se inicializa
// pinned: 'header-up', //Cuando se deplaza hacia arriba
// unpinned: 'header-down', //Cuando se deplaza hacia abajo
// top: 'header-top', //Cuando esta pegado arriba
// notTop: 'header-notop', //Cuando no esta pegado arriba
// bottom: 'header-bottom', //Cuando esta pegado abajo
// notBottom: 'header-nobottom'//Cuando no esta pegado abajo
.header-initial{
  .main-header{
    height: 10rem;
  }
}
.header-up{ //Cuando se deplaza hacia arriba

}
.header-down{ //Cuando se deplaza hacia abajo

}
.header-top{ //Cuando esta pegado arriba

}
.header-notop{ //Cuando no esta pegado arriba
  height: 5rem;
  .main-isologo {
    width   : auto;
    display : block;
    height: rem(50px);
  }
  .main-menu {
    @include to(l) {
      top: 5rem;
    }
  }
}
.header-bottom{ //Cuando esta pegado abajo

}
.header-nobottom{ //Cuando no esta pegado abajo

}
