.main-isologo {
  position: relative;
  // top: 1rem;
  width   : 100%;
  display : block;
  height: rem(121px);
  will-change   : height;
  transition    : 0.5s height;
  object-fit: contain;
  &__content{
    position: relative;
    top: -.5rem;
    height: 10rem;
  }
  img{
    position: absolute;
    left: 0;
  }
}
