.main-footer {
  background : linear-gradient($thirdColorAlt, $thirdColor, $thirdColorAlt);
  color      : #FFF;
  padding    : 1rem 0 0 0;
  font-size  : fontSize(normal);
  margin-top : auto;
  &__bar{
    background: linear-gradient($firstColor, $firstColorAlt, $firstColor);
    padding: .5rem;
    p,a{
      color: #FFF;
    }
    p{
      margin-bottom: 0;
    }
  }
  a{
    color: #FFF;
  }
}
