.main-main{
  background: #effffe;
  // border: ridge 4px #3069bf;
  // border-radius: 10px;
  box-shadow: 1px 1px 1px $darkColor;
  // min-height: 80vh;
  &__title{
    background: linear-gradient($firstColor, $firstColorAlt, $firstColor);
    color: #FFF;
    padding-left: 1.5rem;
    width: 100%;
    text-transform: uppercase;
  }
  &__title--tertiary{
    background: linear-gradient($thirdColor, $thirdColorAlt, $thirdColor);
    color: #FFF;
    padding-left: 1.5rem;
    text-align: center;
    width: 100%;
  }
}