.main-header {
  position: fixed;
  z-index       : $z-fixed;
  height        : 0;
  padding-top   : 15px;
  top           : 0;
  width         : 100%;
  left: 50%;
  transform: translateX(-50%);

  .button--circle{
    display: block;
  }
  ul a{
    display: block;
    position: relative;
    color: #FFF;
    text-shadow: 1px 1px 0 $firstColor;
    &::after{
      content: '';
      width: 10px;
      height: 6px;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(90deg, $textColor, $bodyBg ,$textColor);
    }
  }
  // @include showFrom(l);
}
