.social {
  @include mainCenter;
  list-style: none;
  padding-left: 0;
  text-align: center;
    &__icon{
      display: inline-block;
    }
    a {
      text-decoration: none;
    }
    .icon-facebook, .icon-whatsapp, .icon-youtube {
    color: $firstColor;
    background: radial-gradient(rgba(255, 255, 255, 0.67) 0,rgba(255, 255, 255, 0.43) 250%);
    box-shadow: 0 0 1px 0px $firstColor;
      &:hover{
        // background: radial-gradient($firstColor 0,transparent 250%);
        color: $bodyBg;
        transform: rotate(1turn);
      }
    }
  li{
    margin-bottom: 0;
    overflow: hidden;
  }
  margin-bottom: 0;
}
.icon-facebook, .icon-whatsapp, .icon-youtube {
    @include crossCenter;
    @include mainCenter;
    display: inline-flex;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 50px;
    transition: all .5s;
    margin: 0 5px;
    &:hover{
      text-shadow: 0px 1px 0px #fff;
    }
}
.icon-facebook:hover {
    background: #4862a3;
}
.icon-youtube:hover {
    background: #fd0000;
}
.icon-whatsapp:hover {
    background: #58f11c;
}