.main-sidebar{
}
.vertical-menu-toggle {
  background-size : 100% 34%;
  color: #FFF;
  @include to(l) {
    display : flex;
    position: fixed;
    right: 1rem;
    top: 1.5rem;
  }
  // &::before {
  //   content: "";
  //   display : block;
  //   width : .5em;
  //   height : 1.2em;
  //   background-image: radial-gradient(circle, $textColor 2px, transparent 2px);
  //   background-size : 100% 34%;
  //   margin-right : .2em;
  // }
  // &::after {
  //   content: attr(data-content)
  // }
}

.vertical-menu {
  position: relative;
  // top: 9em;
  @include from(l){
    position: sticky;
    top: 9rem;
    padding-top: 10px;
  }
  padding-top: 0;
  // top: 1em;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  font-family: $button-font;
  // border-right : 1px solid $borderColor;
  &::-webkit-scrollbar{
    width: 5px;
    background: $borderColor;
  }
  &::-webkit-scrollbar-thumb{
    background: $firstColor;
    border-radius: 50px;
  }
  @include to(l) {
    max-height : 0;
    transition: max-height .5s;
    overflow : hidden;

    &.show {
      max-height : 1000px;
      margin-bottom : 1em;
    }

    .active::before {
      display : none;
    }
  }

  ul {
    @include clearMenu;
  }

  &__item{
    padding : 0 0;
    border-bottom : none;
    font-size : fontSize(title2);
    >a{
      text-transform: uppercase;
    }
  }
  &__submenu{
    background: white;
    padding-top: .5rem;
    line-height: 1.2;
  }
  &__subitem{
    padding : 10px 0;
    border-bottom : none;
    font-size : fontSize(title2);
    border-bottom: 1px solid $borderColor;
    >a{
      color: $firstColor;      
    }
  }
  a:hover{
    text-decoration : none;
  }

  .button--alert {
    display : block;
    font-size: fontSize(title3);
    &:hover {
      // color: $firstColor;
      // font-weight: 600;
    }
    &.active {
      display : flex;
      justify-content: space-between;
      align-items: center;
      color: $thirdColor;

      &::after {
        content: '';
        display : block;
        width : 1rem;
        height : 1rem;
        background : img('icon-right.svg') center right / contain no-repeat;
      }

      &:hover {
        text-decoration : none;
        color: inherit;
      }
    }
  }

  .active {
    border-bottom: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
    margin-right: -1px;
    padding: .5em 0;
    border-right: 1px solid $bodyBg;

    &::after {
      background : img('icon-right.svg') 100% / contain no-repeat !important;
      margin-right : 1rem;
    }
  }
  .button--alert{
    position: relative;
    border: solid 4px white;
    border-left: none;
    border-right: none;
    line-height: 1;
    box-shadow: 0 1px 5px 0px $darkColor;
    &:before{
      // content : '';
      // left    : 0;
      // width: 0;
      // height: 0;
      // border: solid;
      // border-top: transparent;
      // border-right: transparent;
      // border-bottom: transparent;
    }
  }
  .icon-caret{
    float: right;
  }
  &__inicio{
    @include to(l){
      display: flex;
      justify-content: center;
    }
  }
}
