body::before{
  content: '';
  display: block;
  height: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient($thirdColor,$thirdColorAlt,$thirdColor);
}
body::after{
  content: '';
  display: block;
  height: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient($firstColor, $firstColorAlt, $firstColor);
  
  /* Aqui ocurre la magia */
  width: 55vw;
  width: calc(var(--width) * 1vw);
}
body::before, body::after{
  z-index: $z-fixed;
  box-shadow: -1px 0px 0px 1px #FFF;
}