- var currentPage = 'Inicio'
- var siteName = 'SICME ELECTRIK'
- var slogan = 'Materiales eléctricos de alta y baja tensión'
- var description = 'Materiales eléctricos Domiciliarios e Industriales'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/demo/'