.header-spacing{
  height: 9rem;
}
iframe{
  width: 100%;
  margin-bottom: 0;
}
td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.cls-1{fill:$firstColor;}.cls-2{fill:#fff;}
.ah{
  opacity: .3;
  &:hover{
    opacity: 1;
  }
}

