.carousel.l-block
  div
    h2.l-block.t1.main-main__title NUESTROS PROVEEDORES: 
  .carousel-slider
    div
      .card.card--mini
        a.card__img(href="" target="_black")
          img(src="https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="")
        .card__content
          .card__title.center Titulo
          .card__body
            //- p 
          footer.card__footer.to-center
            .card__button.marienco-item.main-center
              a(href="" target="_blank").button--cta.button--small Visitar sitio
    div
      .card.card--mini
        a.card__img(href="" target="_black")
          img(src="https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="")
        .card__content
          .card__title.center Titulo
          .card__body
            //- p 
          footer.card__footer.to-center
            .card__button.marienco-item.main-center
              a(href="" target="_blank").button--cta.button--small Visitar sitio
    div
      .card.card--mini
        a.card__img(href="" target="_black")
          img(src="https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="")
        .card__content
          .card__title.center Titulo
          .card__body
            //- p 
          footer.card__footer.to-center
            .card__button.marienco-item.main-center
              a(href="" target="_blank").button--cta.button--small Visitar sitio
    div
      .card.card--mini
        a.card__img(href="" target="_black")
          img(src="https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="")
        .card__content
          .card__title.center Titulo
          .card__body
            //- p 
          footer.card__footer.to-center
            .card__button.marienco-item.main-center
              a(href="" target="_blank").button--cta.button--small Visitar sitio
    div
      .card.card--mini
        a.card__img(href="" target="_black")
          img(src="https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="")
        .card__content
          .card__title.center Titulo
          .card__body
            //- p 
          footer.card__footer.to-center
            .card__button.marienco-item.main-center
              a(href="" target="_blank").button--cta.button--small Visitar sitio
    div
      .card.card--mini
        a.card__img(href="" target="_black")
          img(src="https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="")
        .card__content
          .card__title.center Titulo
          .card__body
            //- p 
          footer.card__footer.to-center
            .card__button.marienco-item.main-center
              a(href="" target="_blank").button--cta.button--small Visitar sitio
    div
      .card.card--mini
        a.card__img(href="" target="_black")
          img(src="https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="")
        .card__content
          .card__title.center Titulo
          .card__body
            //- p 
          footer.card__footer.to-center
            .card__button.marienco-item.main-center
              a(href="" target="_blank").button--cta.button--small Visitar sitio