footer.main-footer
	.sicme-container
		.sicme-item.l-50
			.main-footer__content
				h2.center PRODUCTOS EN GENERAL
			hr
			.main-footer__content
				ul.feature-list.sicme-container
					li.m-50.sicme-container(v-for="item in mainmenu")
						a(:href="'#' + path_page + item.href" v-text="item.title")
						//- ul
							li(v-for="subitem in item.submenu")
								a.button--cta(:href="'#' + subitem.href" v-text="subitem.title")
								ul
									li(v-for="subsubitem in subitem.subsubmenu"): a(:href="'#' + subsubitem.href" v-text="subsubitem.title")
		.sicme-item.l-50
			.main-footer__content
				h2.center SICME - COCHABAMBA, BOLIVIA
			hr
			.main-footer__content.social
				p Calle General Achá No. 845 entre c/Avaróa y Av. Costanera
					br
					| Tel: (+591-4) 4582880 | Fax: 4582881
					br
					| Cel: 
					i.icon-whatsapp
					| 76902100&nbsp;&nbsp;
					br
					| E-mail: info@sicme.com.bo
					a(href= "#" + path_page + "contactos.html").button--ghost.button--small >> VER MAPA
footer.main-footer__bar
	.sicme-container
		.sicme-item.l-35.cross-center.main-center
			.main-footer__content
				p.center= siteName + ' '
					span#currentDate
					| ,© Todos los derechos reservados. 
		.sicme-item.l-30.cross-center.main-center
			.main-footer__content
				include social 
		.sicme-item.l-35.cross-center.main-center
			.main-footer__content
				p: a.ah(href="//ahpublic.com" target="_blank") Diseño y Programación: AH! PUBLICIDAD