header.main-header.sicme-container
  .sicme-item.l-50.s-75.main-center.main-isologo__content
    a(href="/demo/stylesguide/").main-isologo
      img(src= path_media + 'images/neon-isologo.png', alt="Neon")#neon
      img(src= path_media + "images/S.png", alt="")#S
      img(src= path_media + "images/I.png", alt="")#I
      img(src= path_media + "images/C.png", alt="")#C
      img(src= path_media + "images/M.png", alt="")#M
      img(src= path_media + "images/E.png", alt="")#E
      img(src= path_media + "images/electrik.png", alt="")#electrik
      img(src= path_media + "images/blue.png", alt="")#blue
      img(src= path_media + "images/silver.png", alt="")#silver
      img(src= path_media + "images/orange.png", alt="")#orange
      //- img(src= path_media + 'images/sicme-isologo.png')#logo
  #vertical-menu-toggle.vertical-menu-toggle.to-l(data-content="")
    i.icon-bars.t1.button--circle
  nav.main-menu.sicme-item.l-50#main-menu.main-end
    ul
      li(v-for="item in menuinicio")
        a.center(:href="'#' + path_page + item.href" :id="item.id")
          i.button--circle.t3(:class="item.icon")
          span.main-menu--inicio__text(v-text="' ' + item.title")
        