.header-spacing
ul.cb-slideshow.cb-slideshow-relative
  li
    span(style='background-image: url("../../media/commax_1.png");') COMMAX - Sistemas de Seguridad
    div
      h2 COMMAX - Sistemas de Seguridad
  li
    span(style='background-image: url("../../media/sil_fios_y_cabos_electricos.png");') COMMAX - Sistemas de Seguridad
    div
      h2 SIL - Alambres y Cables Eléctricos
  li
    span(style='background-image: url("../../media/eaton.png");') COMMAX - Sistemas de Seguridad
    div
      h2 EATON - Térmicos Industriales
  li
    span(style='background-image: url("../../media/sicme-lighting_1.png");') COMMAX - Sistemas de Seguridad
    div
      h2 SICME - Lighting
  li
    span(style='background-image: url("../../media/materiales_electricos.png");') COMMAX - Sistemas de Seguridad
    div
      h2 Tramontina - Materiales Eléctricos
  li
    span(style='background-image: url("../../media/sil_fios_y_cabos_electricos.png");') COMMAX - Sistemas de Seguridad
    div
      h2 SIL - Alambres y Cables Eléctricos
