#vertical-menu-toggle.vertical-menu-toggle.to-l(data-content="Filtros")
nav.vertical-menu#vertical-menu
  ul
    li: a.button--alert(href= path_page + "stylesguide/") Inicio
    li: a.button--alert(href= path_page + "stylesguide/tipografia.html") Tipografia
    li: a.button--alert(href= path_page + "stylesguide/botones.html") Botones
    li: a.button--alert(href= path_page + "stylesguide/tablas.html") Tablas
    li: a.button--alert(href= path_page + "stylesguide/listas.html") Listas
    li: a.button--alert(href= path_page + "stylesguide/formularios.html") Formularios
    li: a.button--alert(href= path_page + "stylesguide/cards.html") Cards
    li: a.button--alert(href= path_page + "stylesguide/post.html") Post
    li: a.button--alert(href= path_page + "stylesguide/banner.html") Banner
    li: a.button--alert(href= path_page + "stylesguide/topbar.html") Top bar
    li: a.button--alert(href= path_page + "stylesguide/modal.html") Modal
    li: a.button--alert(href= path_page + "stylesguide/tabs.html") Tabs
    li: a.button--alert(href= path_page + "stylesguide/iconos.html") Iconos
    li: a.button--alert(href= path_page + "stylesguide/video-class.html") Video
    li: a.button--alert(href= path_page + "stylesguide/google-map.html") Google Map
