nav.vertical-menu#vertical-menu
  ul.to-l.vertical-menu__inicio
    li.center(v-for="item in menuinicio")
      a.center(:href="'#' + path_page + item.href" :id="item.id")
        i.button--circle.t3(:class="item.icon")
        span.main-menu--inicio__text(v-text="' ' + item.title")
  ul.vertical-menu__menu
    li.vertical-menu__item(v-for="item in mainmenu")
      a.button--alert.hvr-bounce-to-right(:href= "'#' + path_page + item.href" :id="item.id")
        span(v-text="item.title")
        i.icon-caret
      //- ul.vertical-menu__submenu
        li.vertical-menu__subitem(v-for="subitem in item.submenu")
          a(:href="subitem.href" v-text="subitem.title")
