// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : .4em .5rem;
  font-family     : $button-font; 
  background      : linear-gradient($firstColor, #3174d9, $firstColor );
  color           : #FFF;
  margin-right    : .5rem;
  margin-left     : .5rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    background      : darken($firstColor, 5);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding : .3rem 1rem;
  font-size: fontSize(small);
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-alert {
  background : linear-gradient($thirdColorAlt, $thirdColor, $thirdColorAlt);

  &:hover {
    background : $thirdColorAlt;
  }
}

@mixin button-cta {
  background : $accentColor;

  &:hover {
    background : $accentColorAlt;
  }
}

@mixin button-ghost {
  color        : #FFF;
  background : $secondColor;
  border     : 1px solid;

  &:hover {
    background   : $firstColor;
  }
}

@mixin button-ghost-alert {
  color : $thirdColor;

  &:hover {
    background : $thirdColor;
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : $accentColor;

  &:hover {
    background : $accentColor;
    color      : #FFF;
  }
}
@mixin button-circle {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: ridge 3px;
  transition: .5s transform;
  &:hover{
    transform: rotate(1turn)
  }
}
