// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container : sicme-container;
$item      : sicme-item;
$max-width  : 1344px;
$gutter     : 1rem;

//layout
:root {
  --header-height : 3rem;
  --max-width     : 1344px;
  --gutter        : 1rem;
}

// Breakpoints
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 1024px,
  xl : 1440px
);

// Fracciones para calcular anchos de los items
$fractions : 3 6;

// Colors
$firstColor     : #004983;
$firstColorAlt  : #006DC6;
$secondColor    : #3ebe3e;
$secondColorAlt : #3c9100;
$thirdColor     : #FF692A;
$thirdColorAlt  : #ff5107;
$accentColor    : #FBA905;
$accentColorAlt : #F1A000;
$darkColor      : #282D31;

// Complementary colors
$borderColor : #e2e7ec;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;

:root {
  --first-color      : #004983;
  --first-color-alt  : #006DC6;
  --second-color     : #949494;
  --second-color-alt : #6d6d6d;
  --third-color      : #FF692A;
  --third-color-alt  : #ff5107;
  --accent-color     : #FBA905;
  --accent-color-alt : #F1A000;
  --dark-color       : #282D31;
  --border-color     : #DFE0E0;
  --text-color       : #53575A;
  --body-bg          : #FAFDFF;
  /*
  #3ebe3e
  #3c9100 
  */

  --width            : 30;
}

// z-index
$z-back    : -10;
$z-normal  : 10;
$z-tooltip : 100;
$z-fixed   : 1000;
$z-modal   : 10000;

:root {
  --z-back    : -10;
  --z-normal  : 1;
  --z-tooltip : 10;
  --z-fixed   : 100;
  --z-modal   : 1000;
}

// Images path
$images-path: '../svg';
